header {
	/*! background: #C9C */
}
header .wrap .logo {
	width: 33.3333%;
	
}
header .wrap .logo img {
    max-width: auto;
}
header .wrap .search {
	width: 66.6666%;
}
header .wrap .icons {

	width: calc(66.6666% - 0.75rem);
}
header .wrap .phone {
    width: 33.333%;
}
.content .wrap aside {
	width: 33.3333%;
}

.content .wrap main {
	width: 66.6666%;
}


.content main section .box {
	width: 50%;
}
.content main section .box.medium {
    display: block;
}
.price {
	width: auto
}
/*меню*/
.menu_adaptive {
    display: block;
    position: initial;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    margin: 0;
}
.content .wrap aside .title_nav .box .icon.burger {
    display: none;
}
.content .wrap aside .box .item #catalog {
    padding: 1.5rem;
    font-size: 1rem;
}

.content .wrap aside .box .item #catalog ul {}

.content .wrap aside .box .item #catalog ul li {
    margin-bottom: 1.5rem;
}

.content .wrap aside .box .item #catalog ul li a {
    text-decoration: underline;
}

.content .wrap aside .box .item #catalog ul li ul {
    /*! margin-top: 0.75rem; */
    /*! margin-left: 0.75rem; */
    /*! margin-bottom: 1.5rem; */
    /*! background: aliceblue; */
    margin: 0.75rem 0 1.5rem 0;
    border-left: solid 1px #FF6E40;
    padding-left: 0.75rem;
}

.content .wrap aside .box .item #catalog ul li ul li {
    margin-bottom: 0.75rem;
}

.content .wrap aside .box .item #catalog ul li ul li a {
    font-size: 0.875rem;
    font-weight: 300;
}

.content .wrap aside .menu_adaptive .box .item #catalog .accord .parent .active {
	color:var(--orange);
	text-decoration: none;
}
.review {
    display: block;
}
.content main section .card .bread {
    margin: 0.75rem 0;}
.content main section .card .photo {
   /*! width: 41.6666%; */ 
   
   
}

.content main section .card .desc {
    /*! width: 58.3333%; */
    
}
.content main section .card .info_tab nav{
display: flex;
flex-flow: row wrap;
}
footer .wrap .box {
    width: 33.3333%;
}