header {
	background: #C9C
}

.content .wrap aside {
	width: 25%;
}

.content .wrap main {
	width: 75%;
}

.content main section .show .right {
	/*! background: #9CF; */
	/*! display: flex; */
	/*! flex-flow: column nowrap; */
	/*! width: calc(100%/9*4); */
	/*! flex-flow: column nowrap; */
}

.content main section .box {
	width: 50%;
}
