* {
    box-sizing: border-box;
}

:root {
    --orange: #FF6E40;
    --green: #8BC34A;
    --border: #efefef;
    --back: #fafafa;
    --icon: #757575;
    --font: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    background-color: var(--back);
    color: var(--font)
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

ul,
li,
input,
select,
label,
ol,
p,
fieldset {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a::-moz-focus-inner {
    border: none;
}

:focus {
    outline: none;
}

a,
a:focus {
    outline: none;
    text-decoration: none;
    display: block;
    color: inherit;
    transition: ease-in-out 0.3s;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 0.875rem;
}

h3 a,
h4 a {
    color: var(--orange);
    text-decoration: underline;
}

h4 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.box {
    padding: 0.75rem;
}

.wrap {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.button {
    height: 2rem;
    cursor: pointer;
    background: var(--icon);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 0.75rem;
    margin: 0 0.75rem 0 0.75rem;
    border-radius: 1rem;
    font-weight: 400;
    font-size: 0.75rem;
    transition: ease-in-out 0.3s;
}

#submit {
    background: var(--green);
}

.search form {
    position: relative;
    margin: 0;
}

.search input,
.search button {
    outline: none;
}

.search input {
    width: 100%;
    padding-left: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    position: absolute;
    transition: ease-in-out 0.3s;
    border: solid 1px var(--border);
    height: calc(2rem + 2px);
}

.search input::placeholder {
    color: var(--icon);
}

.search button {
    border: none;
    height: 2rem;
    width: 2rem;
    position: relative;
    cursor: pointer;
    background: url(../images/icon_search.svg) no-repeat center center;
}

.search input:focus {
    border-color: var(--orange);
    border: 1px solid var(--orange);
}

.brackets {
    background: url(../images/icon_bracket_white.svg) var(--green) no-repeat center center;
    z-index: 4;
    cursor: pointer;
}

.brackets .count {
    background: var(--green);
}

.favorites {
    background: url(../images/icon_favorite_white.svg) var(--orange) no-repeat center center;
    z-index: 3;
    cursor: pointer;
}

.favorites .count {
    background: var(--orange);
}

.log_in {
    background: url(../images/icon_account_white.svg) var(--icon) no-repeat center center;
    z-index: 2;
    cursor: pointer;
}

.on {
    background: url(../images/icon_log_in.svg) var(--icon) no-repeat center center;
}

.off {
    background: url(../images/icon_off.svg) var(--icon) no-repeat center center;
}

.inform {
    background: url(../images/icon_info_white.svg) var(--icon) no-repeat center center;
}

.visa {
    background: url(../images/icon_visa.svg) no-repeat center center;
}

.master {
    background: url(../images/icon_master.svg) no-repeat center center;
}

.mir {
    background: url(../images/icon_mir.svg) no-repeat center center;
}

.telegram {
    background: url(../images/icon_telegram.svg) no-repeat center center;
}

.vkontakte {
    background: url(../images/icon_vkontakte.svg) no-repeat center center;
}

.facebook {
    background: url(../images/icon_facebook.svg) no-repeat center center;
}

.twitter {
    background: url(../images/icon_twitter.svg) no-repeat center center;
}

.instagram {
    background: url(../images/icon_instagram.svg) no-repeat center center;
}

.google {
    background: url(../images/icon_google.svg) no-repeat center center;
}

.youtube {
    background: url(../images/icon_youtube.svg) no-repeat center center;
}

.warranty {
    background: url(../images/icon_warranty.svg) var(--icon) no-repeat center center;
    margin-right: 0.75rem;
    background-size: 75%;
}

.logist {
    background: url(../images/icon_logist.svg) var(--icon) no-repeat center center;
    margin-right: 0.75rem;
    background-size: 75%;
}

.sertif {
    background: url(../images/icon_sertif.svg) var(--icon) no-repeat center center;
    margin-right: 0.75rem;
    background-size: 75%;
    min-width: 2rem;
}

.return {
    background: url(../images/icon_return.svg) var(--icon) no-repeat center center;
    margin-right: 0.75rem;
    background-size: 75%;
}

.cart_del {
    background: url(../images/icon_close.svg) red no-repeat center center;
    background-size: 75%;
}

.mail {
    background: url(../images/icon_mail.svg) white no-repeat center center;
    background-size: 60%;
}

.lock {
    background: url(../images/icon_lock.svg) white no-repeat center center;
    background-size: 60%;
}

.look {
    background: url(../images/icon_look.svg) no-repeat center center;
    background-size: 60%;
}

.RST {
    background: url(../images/icon_RST.svg) no-repeat center center;
}

.EAC {
    background: url(../images/icon_EAC.svg) no-repeat center center;
}

.bonus {
    color: var(--orange);
    font-weight: 500;
    display: inline-flex;
    margin-left: 0.375rem;
    border: solid 1px var(--border);
    padding: 0.375rem 0 0.375rem 0.375rem;
    border-radius: 0.375rem;
    background: var(--back);
}

.bonus:before {
    content: '+';
    color: var(--orange);
}

.bonus:after {
    content: ' ';
    background: url(../images/icon_bonus.svg) no-repeat center center;
    width: 2rem;
    display: block;
    height: 1rem;
}

.icon {
    height: 2rem;
    width: 2rem;
    position: relative;
    color: white;
}

.icon .count {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    top: -0.75rem;
    color: white;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    font-weight: 400;
    box-shadow: 0 0 0 2px var(--back);
    left: 1.25rem;
}

.menu_adaptive {
    display: block;
    position: absolute;
    left: -100%;
    z-index: 9999;
    max-width: calc(100% - 1.5rem);
    box-shadow: 0 0 10px 0 var(--icon);
    background: var(--back);
    transition: all .4s;
    border-radius: 0 1rem 1rem 0;
    margin-left: -0.75rem;
}

.menu_adaptive .item .lk_name .title {
    border-left: none;
    margin: 1.5rem 1.5rem 0 1.5rem;
    padding: 0 0 1.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: dotted 1px var(--border);
}

.menu_adaptive.show {
    left: 0;
}

.menu_adaptive .sub_parent {
    display: none;
}

.price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    white-space: nowrap;
    /*! width: 100%; */
    text-align: right;
    margin: 0.375rem;
    display: flex;
}

.price:after {
    content: '\20BD';
    font-weight: 300;
    font-size: 0.875rem;
    padding-left: 0.25rem;
    line-height: 2.5em;
}

.bracket {
    border: solid 1px var(--green);
    border-radius: 1rem;
    color: var(--green);
    width: calc(100% - 4rem);
    background: url(../images/icon_bracket_off.svg) no-repeat center center;
    transition: ease-in-out 0.5s;
    min-width: 4rem;
    max-width: 6rem;
}

.bracket:hover,
.bracket.active {
    background: url(../images/icon_bracket_on.svg) var(--green) no-repeat center center;
}

.favorite {
    border: solid 1px;
    color: var(--orange);
    background: url(../images/icon_favorite_off.svg) no-repeat center center;
    transition: background-image ease-in-out 0.3s;
    border-radius: 1rem;
}

.favorite:hover,
.favorite.active {
    transition: ease-in-out 0.3s;
    background: url(../images/icon_favorite_on.svg) no-repeat center center;
}

.bracket a,
.favorite a {
    height: 2rem;
    border-radius: 1rem;
}

.pic.discount:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon_percent.svg) no-repeat center center;
    display: block;
    position: absolute;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    border: solid 1px var(--orange);
    transform: rotate(-15deg);
    background-color: white;
    box-shadow: 1px 1px 6px -3px #000;
}

.pic.new:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon_new.svg) no-repeat center center;
    display: block;
    position: absolute;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    border: solid 1px var(--orange);
    transform: rotate(-15deg);
    background-color: white;
    box-shadow: 1px 1px 6px -3px #000;
}

.pic.hit:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/icon_hit.svg) no-repeat center center;
    display: block;
    position: absolute;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    border: solid 1px var(--orange);
    transform: rotate(-15deg);
    background-color: white;
    box-shadow: 1px 1px 6px -3px #000;
}

.arrow {
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 9999;
    top: 42%;
    margin: 0.75rem;
    border-radius: 2rem;
    box-shadow: 0 0 1px 2px white;
    cursor: pointer;
}

.arrow.prev {
    background: url(../images/icon_arrow_left.svg) var(--icon) no-repeat center center;
}

.arrow.next {
    right: 0;
    background: url(../images/icon_arrow_right.svg) var(--icon) no-repeat center center;
}

.review {
    display: none;
}

.close_box.open:after {
    transform: rotate(270deg);
}

.box .item {
    background: white;
    border: solid 1px var(--border);
    height: 100%;
    /*! display: flex; */
    /*! flex-flow: column wrap; */
    /*! justify-content: space-between; */
}

.box .item .pic {
    position: relative;
}

.box .item .pic a img {
    height: 8.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75rem;
    max-height: 8.5rem;
}

.box .item .info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.75rem;
    justify-content: flex-end;
    align-self: flex-end;
}

.box .item .info .name {
    width: 100%;
    padding: 0.375rem;
}

.box .item .info .icon {
    margin: 0.375rem;
}

header {
    background: var(--back);
    margin-top: 0.75rem;
}

header .wrap {
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

header .wrap .logo {
    width: 50%;
}

header .wrap .logo img {
    height: auto;
}

header .wrap .search {
    width: 50%;
}

header .wrap .phone {
    width: 41.6666%;
    white-space: nowrap;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--icon);
}

header .wrap .icons {
    display: flex;
    justify-content: space-between;
    width: 58.3333%;
    padding-right: .75rem;
    align-items: flex-end;
}

.content main {
    width: 100%;
}

.content main .filters .filter-all .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content main .filters .filter-all .box .group {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-right: -0.375rem;
}

.content main .filters .filter-all .box .group .title {
    color: var(--orange);
    font-size: 0.75rem;
}

.content main section {
    display: flex;
    flex-flow: row wrap;
}

.content main section .show {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.content main section .show .slider {
    width: 100%;
}

.content main section .show .slider .box {
    width: 100%;
}

.content main section .show .slider .box .item .pic a img {
    height: calc(16rem + 3px);
    max-height: calc(16rem + 3px);
}

.content main section .show .right {
    display: none;
}

.content main section .title {
    width: 100%;
    text-decoration: underline;
    border-left: solid 4px var(--orange);
    padding-left: 0.75rem;
    margin-left: 0.75rem;
    transition: all .3s;
}

.content main section .box {
    width: 100%;
}

.content main section .box.medium {
    display: none;
}

.content main section .box.medium .item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content main section .box.medium .item .big {
    color: var(--orange);
    text-align: center;
    padding: 0.75rem;
}

.content main section .box.medium .item .big a {
    text-decoration: underline;
    font-weight: 500;
}

.content main section .card {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2px;
}

.content main section .card .box {
    width: 100%;
}

.content main section .card .box .title {
    text-decoration: none;
    border-left: none;
    padding: 0;
    width: 100%;
    color: var(--orange);
    margin: 0 0 0.75rem 0;
}

.content main section .card .box .item .info_text .param {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    min-width: 50%;
    /*! flex-flow: row wrap; */
}

.content main section .card .box .item .info_text .param a {
    display: inline;
    text-decoration: underline;
    font-weight: 300;
    margin-right: 0.75rem;
}

.content main section .card .photo {
    width: 100%;
}

.content main section .card .desc {
    width: 100%;
}

.content main section .card .desc .item .text {
    padding: 1.5rem;
}

.content main section .card .desc .item .text p {
    padding: 0 0.75rem 0.75rem 0;
    line-height: 1.2rem;
}

.content main section .card .desc .item .buy {
    padding: 0 1.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.content main section .card .desc .item .buy .icon {
    margin: 0.375rem;
}

.content main section .card .desc .item .buy .price {
    width: auto;
}

.content main section .card .desc .item .addon {
    padding: 1.5rem;
}

.content main section .card .desc .item .addon .param {
    position: relative;
    width: 50%;
    margin-bottom: 0.75rem;
    max-width: 18rem;
    font-weight: 300;
}

.content main section .card .desc .item .addon .param span {
    font-weight: 400;
    margin-left: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}

.content main section .card .desc .item .addon .param:after {
    border-bottom: 1px dashed var(--border);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

.content main section .card .info_tab {
    width: 100%
}

.content main section .card .info_text {
    margin: 1.5rem 1.5rem 0.75rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.content main section .card .info_text p {
    padding-bottom: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.content main section .card .info_text h1,
.content main section .card .info_text h2,
.content main section .card .info_text h3,
.content main section .card .info_text h4 {
    width: 100%;
    padding: 0.75rem 0 0.75rem 0;
    font-weight: 500;
    font-size: 0.85rem;
}

.content main section .card .info_tab nav {
    background: var(--back);
}

.content main section .card .info_tab nav .active {
    background: white;
    border-right: solid 1px var(--border);
    border-bottom: solid 1px white;
    color: var(--orange);
}

.content main section .card .desc .item .text {
    padding: 1.5rem;
}

.content main section .card .desc .item .text p {
    padding: 0 0.75rem 0.75rem 0;
    line-height: 1.2rem;
    font-weight: 300;
}

.content main section .card .desc .item .buy .icon {
    margin: 0.375rem;
}

.content main section .card .desc .item .buy .price {
    width: auto;
}

.content main section .card .desc .item .addon {
    padding: 1.5rem;
}

.content main .filters .filter-spec .item {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border: var(--orange) 1px solid;
}

.content main .filters .filter-spec .item .group {
    padding: 1.5rem;
    min-width: 50%;
}

.content main .filters .filter-spec .item .group .title {
    margin-bottom: 0.75rem;
    color: var(--orange);
}

.content main .filters .filter-spec .item .accept {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1.5rem;
}

.content main .filters .filter-spec .box {
    display: flex;
    flex-flow: row wrap;
}

.content aside {
    width: 100%;
}

.content aside .title_nav {
    height: 3.875rem;
    display: flex;
    align-items: center;
    color: var(--orange);
}

.content aside .title .box h2 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--orange);
}

.content aside .box .item #catalog {
    padding: 1.5rem;
    font-size: 1rem;
}

.content aside .title {
    margin-left: 0.75rem;
    border-left: solid 4px var(--orange);
    padding-left: 0.75rem;
}

.content aside .title_nav .box {
    display: flex;
    align-items: center;
}

.content aside .title_nav .box .icon.burger {
    margin-right: 0.75rem;
    background: url(../images/icon_burger.svg) var(--orange) no-repeat center center;
    cursor: pointer;
}

.content aside .box .item #catalog {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.content aside .box .item #catalog ul li {
    margin-bottom: 1.25rem;
}

.content aside .box .item #catalog ul li a {
    border-bottom: dotted 1px var(--border);
    display: inline;
}

.content aside .box .item #catalog ul li ul {
    margin: 1.5rem 0;
    border-left: solid 1px #FF6E40;
    padding-left: 0.75rem;
}

.content aside .box .item #catalog ul li ul li a {
    font-size: 0.875rem;
    font-weight: 300;
}

.content aside .menu_adaptive .box .item #catalog .accord .parent .active {
    color: var(--orange);
    border-bottom: none;
}

.content main section .order .box {
    width: 100%;
}

.bread {
    line-height: 1.2rem;
}

.bread ul {
    display: flex;
    flex-flow: row wrap;
}

.bread ul li {
    display: flex;
    margin-right: 0.75rem;
    font-size: 0.75rem;
}

.bread ul li a {
    color: var(--icon);
    font-size: 0.75rem;
}

.bread ul li:after {
    content: '/';
    padding-left: 0.75rem;
    color: var(--orange);
}

.bread ul .last:after {
    content: ''
}

.review .box .item .rev {
    margin: 1.5rem 1.5rem 3rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.review .box .item .rev .title {
    margin: 0;
    width: 100%;
    color: var(--orange);
    border-left: none;
    padding-left: 0;
}

.review .box .item .rev .pic {
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.review .box .item .rev .anons {
    font-size: 0.75rem;
    line-height: 1.2rem;
}

.anons p a {
    text-decoration: underline dotted 1px var(--icon);
    display: inline-block;
    padding-top: 0.75rem;
}

.pagination {
    display: flex;
    margin: 0.75rem auto;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.pagination .page {
    width: 2rem;
    height: 2rem;
    border: solid 1px var(--border);
    line-height: 2rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 300;
    background: white;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    margin-bottom: 0.75rem;
}

.pagination .page.current {
    border: solid 1px var(--orange);
    color: var(--orange);
}

.pagination .paginate {
    height: 2rem;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.pagination .paginate .icon.prev {
    background: url(../images/icon_page_left.svg) var(--icon) no-repeat center center;
    display: block;
}

.pagination .paginate .icon.next {
    background: url(../images/icon_page_right.svg) var(--icon) no-repeat center center;
    display: block;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 0.75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 300;
}

.checkcontainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border: solid 1px var(--icon);
    transition: ease-in-out 0.3s;
}

.checkcontainer .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
}

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkcontainer input:checked ~ .checkmark {
    border: solid 1px var(--orange);
}

.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

.radiocontainer {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    top: 0;
}

.radiocontainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: solid 1px var(--icon);
}

.radiocontainer input:checked ~ .checkmark {
    border: 1px solid var(--orange);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radiocontainer input:checked ~ .checkmark:after {
    display: block;
}

.radiocontainer .checkmark:after {
    top: calc(0.5rem/2 - 1px);
    left: calc(0.5rem/2 - 1px);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: var(--orange);
}

.filter_all .checkmark {
    border-radius: 1rem;
    margin: 0.375rem 0 0.375rem 0.375rem;
    flex: 0 1 auto;
    border: solid 1px var(--border);
    background: white;
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
}

.filter-all .checkcontainer .checkmark::after {
    border: none;
}

.filter-all .checkcontainer {
    margin: 0.75rem 0.375rem;
    padding: 0;
}

.filter-all .checkcontainer .checkmark {
    position: inherit;
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    font-weight: 400;
    background: white;
}

.filter-all .checkcontainer .checkmark {
    border: solid 1px var(--border);
}

.close_box {
    text-align: center;
    background: var(--orange);
    padding: 0.5rem 0.75rem;
    margin-left: auto;
    cursor: pointer;
    color: white;
    font-size: 0.75rem;
    align-self: center;
}

.close_box:after {
    content: '>';
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 0.75rem;
    transition: all .3s;
}

.close_box.open:after {
    transform: rotate(270deg);
}

.active.ft-tab {
    border-bottom: none;
}

.ft-tab.active {
    color: var(--orange);
    border-bottom: none;
}

.ft-tab.ft-tab-icon.active {
    border-bottom: none !important;
}

.ft-contents .param {
    /*! position: relative; */
    /*! width: 50%; */
    margin-bottom: 1rem;
    /*! max-width: 18rem; */
    /*! display: flex; */
    /*! min-width: 18rem; */
    /*! background: antiquewhite; */
}

.ft-contents .param span {
    font-weight: 400;
    /*! position: absolute; */
    /*! left: 18rem; */
    /*! width: 100%; */
    /*! background: aquamarine; */
}

.ft-contents .param span::before {
    /*! border-bottom: 1px dashed var(--border); */
    /*! bottom: 0; */
    content: ':';
    display: inline-block;
    /*! left: 0; */
    /*! position: absolute; */
    width: 1rem;
    /*! margin-right: 0.375rem; */
    /*! background: aqua; */
}

.feedback {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: dashed 1px var(--border);
    margin-bottom: 1.5rem;
    align-items: center;
}

.feedback .name {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.feedback .name .icon.log_in {
    margin-right: 0.75rem;
    background: url(../images/icon_account_white.svg) var(--border) no-repeat center center;
}

.feedback .date {
    font-size: 0.75rem;
    color: var(--icon);
}

.feedback .text {
    width: 100%;
    margin: 0.75rem 0;
    padding-left: 2.75rem;
}

.feedback .text p {
    padding: 0.1875rem 0;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.feedback .name .rate {
    margin-left: 0.75rem;
}

.feedback .name .rate span {
    color: var(--border);
}

.feedback .name .star1 span:nth-child(-n+1) {
    color: var(--orange);
}

.feedback .name .star2 span:nth-child(-n+2) {
    color: var(--orange);
}

.feedback .name .star3 span:nth-child(-n+3) {
    color: var(--orange);
}

.feedback .name .star4 span:nth-child(-n+4) {
    color: var(--orange);
}

.feedback .name .star5 span:nth-child(-n+5) {
    color: var(--orange);
}

.feedback .answer {
    margin: 0.75rem 0 0.75rem 2.75rem;
}

.ft-contents .addon p {
    margin-bottom: 0.75rem;
    line-height: 1.2rem;
}

.ft-contents .addon p a {
    display: inline;
    text-decoration: underline;
    font-weight: 500;
}

.ft-contents .addon p span {
    text-transform: uppercase;
}

.ft-contents .addon p span:before {
    content: '(';
    text-transform: lowercase;
}

.ft-contents .addon p span:after {
    content: ')';
    text-transform: lowercase;
}

.shopping_cart {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -999999px;
    z-index: 99999;
    bottom: 0;
    background: rgba(250, 250, 250, 0.5);
    overflow-y: auto;
}

.shopping_cart .wrap {
    align-items: center;
    padding: 0;
    box-shadow: 0 0 10px 4px var(--icon);
    border-radius: 1rem;
    margin: auto 0.75rem;
}

.shopping_cart .wrap .box {
    background: var(--border);
    border-radius: 1rem;
}

.shopping_cart .wrap .item {
    padding: 1.5rem;
}

.shopping_cart .wrap .item .accept {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.shopping_cart .wrap .item .title {
    color: var(--green);
    text-align: center;
    padding-bottom: 0.75rem;
    border-bottom: solid 1px var(--border);
    margin-bottom: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping_cart .wrap .item .title .icon.brackets {
    margin-right: 0.75rem;
}

.shopping_cart .wrap .item .cart_row {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 1.5rem;
    border-bottom: solid 1px var(--border);
}

.shopping_cart .wrap .item .cart_row .cart_pic {
    background: antiquewhite;
    margin-bottom: 0.75rem;
    width: 50%;
}

.shopping_cart .wrap .item .cart_row .cart_name {
    width: 50%;
}

.shopping_cart .wrap .item .cart_row .cart_price {
    width: 100%;
    margin: 0.75rem 0;
}

.shopping_cart .wrap .item .cart_row .cart_price .price {
    font-size: 0.875rem;
    padding: 0;
    margin: 0;
}

.shopping_cart .wrap .item .cart_row .cart_price .price:before {
    content: 'Цена';
    font-weight: 300;
    padding-right: 0.375rem;
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_price .price:after {
    font-size: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_count {
    width: 100%;
    display: flex;
}

.shopping_cart .wrap .item .cart_row .cart_count .count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.shopping_cart .wrap .item .cart_row .cart_count .count:before {
    content: 'Кол-во';
    padding-right: calc(0.375rem + 0.25rem);
    width: 100%;
    font-weight: 300;
    font-size: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_count .count .icon {
    border: solid 1px var(--icon);
    width: 2rem;
    font-weight: 700;
    cursor: pointer;
    background: none;
    color: var(--icon);
    border-radius: 1rem;
}

.shopping_cart .wrap .item .cart_row .cart_count .count .input_count {
    width: 2rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
}

.shopping_cart .wrap .item .cart_row .cart_count .count span {
    display: flex;
    justify-content: flex-end;
}

.shopping_cart .wrap .item .cart_row .cart_total {
    width: 100%;
    margin: 0.75rem 0;
}

.shopping_cart .wrap .item .cart_row .cart_total .price {
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
}

.shopping_cart .wrap .item .cart_row .cart_total .price:before {
    content: 'Итого:';
    font-weight: 300;
    padding-right: 0.375rem;
    font-size: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_total .price:after {
    font-size: 0.75rem;
    display: inline-block;
}

.shopping_cart .wrap .item .cart_row .cart_total .price span {
    width: 100%;
}

.shopping_cart .wrap .item .cart_row .cart_del {
    position: absolute;
    top: -1.5rem;
    right: 0;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0 0 0 0.75rem;
}

.shopping_cart .wrap .item .shopping_total {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.shopping_cart .wrap .item .shopping_total p {
    width: 100%;
}

.shopping_cart .wrap .item .shopping_total .price {
    width: auto;
}

.shopping_cart .wrap .item .shopping_total span {
    padding: 0 0.375rem;
    font-weight: 600;
}

.fotorama .pic {
    height: 100%;
}

#login_popup {
    display: none;
}

#logout_popup {
    display: none;
}

.login_up,
.logout_up {
    position: absolute;
    top: 2rem;
    z-index: 99999;
    right: 0;
    cursor: auto;
}

.login_up #exit {
    background: var(--icon);
}

.login_up #lk {
    background: var(--orange);
}

.login_up .box,
.logout_up .box {
    background: var(--icon);
    border-radius: 1rem 0 1rem 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 7px -3px var(--font);
}

.login_up .box form {
    margin-bottom: 0.75rem;
}

.login_up .box .block {
    display: flex;
    justify-content: center;
}
.login_up .box .block .social{
    display: flex;
}
.login_up .box .block input {
    margin-bottom: 0.75rem;
    padding: 0.375rem 0;
    font-family: 'Roboto', sans-serif;
    height: 2rem;
}

.login_up .box .remember {
    font-size: 0.75rem;
    cursor: pointer;
    text-decoration: underline dotted;
}

.login_up .box .button {
    border: 1px solid white;
    width: 8rem;
    background: var(--green);
    margin: 0.75rem auto;
    display: block;
}

.login_up .title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-weight: 500;
    font-size: 0.75rem;
}

.login_up .box .block .social .icon {
    margin: 0.75rem 0.375rem 0 0;
    cursor: pointer;
    border: none;
}

#favore .icon.favorite {
    background: url(../images/icon_favorite_on.svg) no-repeat center center;
    margin-right: 0.75rem;
}

#favore .title {
    color: var(--orange);
}

#favore .cart_price {
    width: auto;
}

#favore .icon.bracket {
    margin: 0 0 0.75rem auto;
}

footer {
    background: var(--orange);
    margin-top: 0.75rem;
    color: white;
    padding: 1.5rem 0.75rem;
}

footer .wrap .box {
    width: 100%;
}

footer .box .title {
    margin-bottom: 1.5rem;
}

footer .box ul {
    display: flex;
    flex-flow: row wrap;
}

footer .box ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    min-width: 50%;
    font-size: 0.75rem;
    padding-right: 0.75rem;
}

footer .box ul li a {
    display: flex;
    align-items: center;
    text-decoration: underline dotted;
}

footer .box ul li .icon {
    margin-right: 0.75rem;
}

.copyright {
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin: 0.75rem;
    font-size: 0.75rem;
}

.content aside .order_summary {
    padding: 1.5rem;
}

.content aside .order_summary .title {
    border-left: none;
    padding: 0 0 1.5rem 0;
    margin: 0 0 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: dashed 1px var(--border);
}

.content aside .order_summary .row {
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

.content aside .order_summary .row {
    line-height: 1.2rem;
}

.content aside .order_summary .row span {
    display: inline-block;
    font-weight: 700;
    color: var(--orange);
    margin: 0 0.375rem 0.375rem 0;
}

.content aside .order_summary .row .price {
    display: inline;
    font-size: 1rem;
    margin: 0;
}

.content aside .order_summary .row .price:after {
    font-size: 0.75rem;
}

.content main section .order {
    width: 100%
}

.content main section .order .title {
    margin: 0 0 1.5rem 0;
    padding: 0;
    border-left: none;
    text-decoration: none;
    color: var(--orange);
    font-weight: 700;
    text-transform: uppercase;
}

.content main section .order .sub_title {
    margin-bottom: 0.375rem;
    font-weight: 300;
}

.content main section .order .logistic {
    padding: 1.5rem;
    margin-bottom: -0.75rem;
}

.content main section .order .payment {
    padding: 1.5rem 1.5rem 0.75rem 1.5rem;
}

.content main section .order .contact {
    padding: 1.5rem;
}

.content main section .order .services {
    display: flex;
    flex-flow: row wrap;
    margin: -0.75rem -0.75rem 0 -0.7rem;
}

.content main section .order .service {
    padding: 0.75rem;
    width: 100%;
}

.content main section .order .block {
    padding: 1.5rem;
    background: var(--back);
    border: solid 1px var(--border);
    border-radius: 1rem;
}

.content main section .order .block label {
    margin: 0;
    font-weight: 400;
}

.content main section .order .block label p {
    font-weight: 300;
    color: var(--icon);
    margin-top: 0.375rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.content main section .order .block .price {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin: 0.75rem 0 0 0;
}

.content main section .order .block .price:after {
    font-size: 0.75rem;
}

.content main section .order .widget {
    margin: 0.75rem 0;
    padding: 0.75rem;
    border: solid 1px var(--border);
}

.content main section .order input {
    background-color: var(--back);
    border: solid 1px var(--border);
    margin-bottom: 1.5rem;
    height: calc(2rem + 2px);
    padding: 0 0 0 0.75rem;
    transition: ease-in-out 0.3s;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    margin: 0 0 1.5rem 0;
}

.content main section .order input:focus {
    border: 1px solid var(--orange);
}

.content main section .order input::placeholder {
    color: var(--icon);
}

.content main section .order textarea {
    height: 10rem;
    width: 100%;
    outline: none;
    -moz-appearance: none;
    border: solid 1px var(--border);
    resize: none;
    overflow: auto;
    padding: 0.75rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.875rem;
    background: var(--back);
}

.content main section .order textarea:placeholder-shown {
    color: var(--icon);
}

.content main section .order .button {
    max-width: 8rem;
    background: var(--green);
    padding: 0 0.75rem;
    margin: 1.5rem auto 1.5rem auto;
    border: solid 1px var(--green);
}

.content main section .order .button:focus {
    border: none;
}

.content main section .order .politic {
    text-align: center;
    color: var(--icon);
    font-weight: 300;
    font-size: 0.75rem;
}

.content main section .order .politic input {
    height: auto;
    margin: 0;
    padding: 0;
    display: inline;
    width: 1rem;
    border: solid 1px var(--icon);
}

.content main section .order .politic a {
    display: inline;
    border-bottom: dotted 1px var(--icon);
}

.content main section .lk {
    width: 100%
}

.content main section .lk .box {
    width: 100%
}

.content main section .lk .box .item {
    padding: 1.5rem;
}

.content main section .lk .box .item .title {
    margin: 0 0 1.5rem 0;
    padding: 0;
    border-left: none;
    text-decoration: none;
    color: var(--orange);
    font-weight: 700;
    text-transform: uppercase;
}

.content main section .lk .box .item .row {
    display: flex;
    flex-flow: row wrap;
}

.content main section .lk .box .item .row:nth-child(odd) {
    background: var(--border);
}

.content main section .lk .box .item .row .cell {
    padding: 0.375rem;
    flex: 0 1 auto;
    font-weight: 300;
    width: 50%;
    font-size: 0.75rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
}

.content main section .lk .box .item .row .cell .icon {
    display: block;
    height: 0.875rem;
    width: 2rem;
    padding: 0;
    margin: 0;
    margin-left: -0.6rem;
}

.content main section .lk .box .item .row .cell a {
    display: inline-block;
}

.content main section .lk .box .item .row .price {
    font-weight: 300;
    font-size: 0.75rem;
    margin: 0;
}

.content main section .lk .box .item .row .price:after {
    line-height: inherit;
    font-size: 0.75rem;
}

.content main section .lk .box .item .row .header {
    font-weight: 500;
    display: none;
}

.content main section .lk .box .item .row .finish {
    color: var(--green);
}

.content main section .lk .box .item .row .cancel {
    color: red
}

.content main section .lk .box .item .row .num:before {
    content: 'â„–';
}

.content main section .lk .box .item .row .date:before {
    content: 'Ð”Ð°Ñ‚Ð°:';
}

.content main section .lk .box .item .row .total:before {
    content: 'Ð¢Ð¾Ð²Ð°Ñ€Ð¾Ð²:';
}

.content main section .lk .box .item .row .price:before {
    content: 'ÐÐ° ÑÑƒÐ¼Ð¼Ñƒ:';
    text-align: left;
}

.content main section .lk .box .item .row .looks:before {
    content: 'ÐŸÑ€Ð¾ÑÐ¼Ð¾Ñ‚Ñ€:';
}

.content main section .lk .box .item .row .status:before {
    content: 'Ð¡Ñ‚Ð°Ñ‚ÑƒÑ:';
}

.content main section .lk .box .item .row .bonus_old:before {
    content: 'ÐžÑÑ‚Ð°Ñ‚Ð¾Ðº';
}

.content main section .lk .box .item .row .bonus_add {
    color: var(--green);
}

.content main section .lk .box .item .row .bonus_add:before {
    content: 'ÐÐ°Ñ‡Ð¸ÑÐ»ÐµÐ½Ð¾:';
}

.content main section .lk .box .item .row .bonus_pay {
    color: red;
}

.content main section .lk .box .item .row .bonus_pay:before {
    content: 'ÐŸÐ¾Ñ‚Ñ€Ð°Ñ‡ÐµÐ½Ð¾:';
}

.content main section .lk .box .item .row .bonus_total:before {
    content: 'ÐžÑÑ‚Ð°Ð»Ð¾ÑÑŒ:';
}

.content main section .lk .box .item .row .cell:before {
    padding-right: 0.375rem;
    width: 48%;
    display: inline-block;
    font-weight: 500;
    color: var(--font);
}

.lk .feedback {
    margin: 1.5rem;
}

.lk .feedback .text {
    padding-left: 0;
}

.rating-input {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.rating-input:not(:checked) > input {
    display: none;
}

.rating-input:not(:checked) > label {
    width: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--border);
}

.rating-input:not(:checked) > label:before {
    content: 'â˜…';
}

.rating-input > input:checked ~ label {
    color: var(--orange);
}

.rating-input:not(:checked) > label:hover,
.rating-input:not(:checked) > label:hover ~ label {
    color: var(--orange);
}

.rating-input > input:checked + label:hover,
.rating-input > input:checked + label:hover ~ label,
.rating-input > input:checked ~ label:hover,
.rating-input > input:checked ~ label:hover ~ label,
.rating-input > label:hover ~ input:checked ~ label {
    color: var(--orange);
}

.rating-input > label:active {
    position: relative;
}

.drop_down_list {
    border: solid 1px var(--border);
    line-height: 2rem;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    padding-left: 0.375rem;
    margin-bottom: 1.5rem;
}

.button:hover {
    filter: saturate(133%);
    box-shadow: 0 0 0 3px var(--border);
    transform: scale(1.05);
}

.brackets:hover,
.favorites:hover {
    filter: saturate(133%);
}
.share {
    /*! margin: 3rem 0; */
}

.share div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /*! margin-bottom: 0.3rem; */
}

.share div .twitter {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 7.539a6.56 6.56 0 0 1-1.885.517 3.294 3.294 0 0 0 1.443-1.816 6.575 6.575 0 0 1-2.085.796 3.283 3.283 0 0 0-5.593 2.994A9.32 9.32 0 0 1 5.114 6.6a3.28 3.28 0 0 0 1.016 4.382 3.274 3.274 0 0 1-1.487-.41v.041a3.285 3.285 0 0 0 2.633 3.218 3.305 3.305 0 0 1-1.482.056 3.286 3.286 0 0 0 3.066 2.28A6.585 6.585 0 0 1 4 17.524 9.291 9.291 0 0 0 9.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0 0 20 7.538z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #00aced;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .telegram {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #64a9dc;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .facebook {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0 0 14.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #3b5998;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .vk {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #48729e;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .tumblr {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.72 7.7h3.699v2.857h-3.7v4.102c0 .928-.01 1.463.087 1.726.098.262.343.534.61.69.355.213.758.32 1.214.32.81 0 1.616-.264 2.417-.79v2.522c-.683.322-1.302.55-1.857.678a7.94 7.94 0 0 1-1.798.195 4.905 4.905 0 0 1-1.724-.276 4.215 4.215 0 0 1-1.438-.79c-.399-.343-.673-.706-.826-1.09-.154-.386-.23-.945-.23-1.676v-5.611H7V8.29c.628-.203 1.357-.496 1.804-.877.45-.382.809-.84 1.08-1.374.272-.534.459-1.214.56-2.039h2.276v3.7z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #547093;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .ok {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 0 0-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 0 0 1.688-1.687 1.69 1.69 0 0 0-1.688-1.688zm0 5.763a4.08 4.08 0 0 1-4.076-4.075 4.08 4.08 0 0 1 4.076-4.077 4.08 4.08 0 0 1 4.077 4.077 4.08 4.08 0 0 1-4.077 4.075zM10.025 15.624a7.633 7.633 0 0 1-2.367-.98 1.194 1.194 0 0 1 1.272-2.022 5.175 5.175 0 0 0 5.489 0 1.194 1.194 0 1 1 1.272 2.022 7.647 7.647 0 0 1-2.367.98l2.279 2.28a1.194 1.194 0 0 1-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 1 1-1.689-1.689l2.279-2.279'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #eb722e;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .mail {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.889 9.667a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667zm6.222 0a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667zm4.77 6.108l-1.802-3.028a.879.879 0 0 0-1.188-.307.843.843 0 0 0-.313 1.166l.214.36a6.71 6.71 0 0 1-4.795 1.996 6.711 6.711 0 0 1-4.792-1.992l.217-.364a.844.844 0 0 0-.313-1.166.878.878 0 0 0-1.189.307l-1.8 3.028a.844.844 0 0 0 .312 1.166.88.88 0 0 0 1.189-.307l.683-1.147a8.466 8.466 0 0 0 5.694 2.18 8.463 8.463 0 0 0 5.698-2.184l.685 1.151a.873.873 0 0 0 1.189.307.844.844 0 0 0 .312-1.166z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #168de2;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .livejournal {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M17.815 13.3c.438 2.114.868 4.221 1.306 6.336.037.178-.148.385-.334.311-2.025-.741-4.006-1.49-6.01-2.24a.625.625 0 0 1-.318-.23l-7.39-8.903c-.067-.082-.082-.215-.06-.32.312-1.23.72-2.143 1.752-3.019C7.799 4.36 8.779 4.1 10.047 4.004c.156-.015.223.014.312.133 2.418 2.909 4.837 5.817 7.248 8.725a.888.888 0 0 1 .208.438z' fill='%23FFF'/%3E%3Cpath d='M6.175 8.462c.69-1.795 2.3-3.004 3.835-3.301l-.185-.223a4.242 4.242 0 0 0-3.85 3.272l.2.252z' fill='%230D425A'/%3E%3Cpath d='M10.53 5.792c-1.744.326-3.124 1.513-3.851 3.271l.905 1.091c.787-1.78 2.3-2.997 3.836-3.302l-.89-1.06zm2.76 7.827L9.364 8.9a6.119 6.119 0 0 0-1.269 1.87l4.89 5.89c.289-.385.867-2.359.303-3.041zM9.647 8.633l3.947 4.748c.445.542 2.456.327 3.086-.193l-4.756-5.72c-.793.156-1.587.564-2.277 1.165zm7.308 5.045c-.609.46-1.9.735-2.931.527.074.823-.096 1.892-.616 2.745l1.885.712 1.528.564c.223-.378.542-.608.913-.764l-.35-1.692-.43-2.092z' fill='%230D425A'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #0d425a;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .viber {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M18.434 15.574c-.484-.391-1.002-.743-1.511-1.102-1.016-.718-1.945-.773-2.703.38-.426.648-1.021.677-1.644.392-1.718-.782-3.044-1.989-3.821-3.743-.344-.777-.34-1.473.465-2.022.425-.29.854-.634.82-1.268-.045-.828-2.043-3.593-2.832-3.885a1.429 1.429 0 0 0-.984 0C4.373 4.95 3.606 6.48 4.34 8.292c2.19 5.405 6.043 9.167 11.349 11.463.302.13.638.183.808.23 1.208.012 2.623-1.158 3.032-2.318.393-1.117-.438-1.56-1.096-2.093zM12.485 4.88c3.879.6 5.668 2.454 6.162 6.38.045.363-.09.909.426.919.538.01.408-.528.413-.89.045-3.699-3.163-7.127-6.888-7.253-.281.04-.863-.195-.9.438-.024.427.466.357.787.406z'/%3E%3Cpath d='M13.244 5.957c-.373-.045-.865-.222-.953.299-.09.546.458.49.811.57 2.395.538 3.23 1.414 3.624 3.802.057.349-.057.89.532.8.436-.066.278-.53.315-.802.02-2.293-1.936-4.38-4.329-4.669z'/%3E%3Cpath d='M13.464 7.832c-.249.006-.493.033-.585.3-.137.4.152.496.446.544.983.158 1.5.74 1.598 1.725.027.268.195.484.452.454.356-.043.389-.361.378-.664.017-1.106-1.227-2.385-2.289-2.359z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #7b519d;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .whatsapp {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 0 1-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 0 1-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553 0 1.434.467 2.762 1.258 3.842l-.825 2.433 2.537-.806a6.6 6.6 0 0 0 3.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 0 1-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 0 1-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 0 0-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #65bc54;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.share div .skype {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.537 13.698c.115-.52.176-1.06.176-1.614 0-4.155-3.415-7.524-7.63-7.524-.444 0-.88.038-1.304.11A4.444 4.444 0 0 0 8.425 4C5.981 4 4 5.954 4 8.364c0 .805.222 1.56.608 2.207a7.428 7.428 0 0 0-.155 1.513c0 4.156 3.416 7.4 7.63 7.4.477 0 .944-.044 1.397-.126.623.33 1.335.642 2.092.642 2.444 0 4.425-1.953 4.425-4.364 0-.695-.166-1.354-.46-1.938zm-3.974 1.457c-.294.418-.725.747-1.293.984-.567.238-1.239.356-2.016.356-.933 0-1.702-.162-2.308-.486a2.986 2.986 0 0 1-1.047-.934c-.268-.39-.403-.768-.403-1.137 0-.213.08-.395.242-.547a.855.855 0 0 1 .615-.229c.202 0 .373.059.512.178.14.119.26.294.358.527.12.278.25.51.39.695.139.185.336.34.589.46.254.12.587.18 1 .18.566 0 1.027-.12 1.382-.364.354-.243.532-.547.532-.91a.919.919 0 0 0-.287-.702 1.88 1.88 0 0 0-.741-.412 13.21 13.21 0 0 0-1.216-.303c-.678-.146-1.247-.318-1.703-.513-.458-.196-.822-.463-1.09-.8-.269-.34-.403-.759-.403-1.26 0-.48.142-.904.426-1.275.283-.372.693-.658 1.23-.858.537-.2 1.17-.299 1.895-.299.58 0 1.082.066 1.505.198.423.133.774.309 1.053.528.28.22.484.45.612.691.13.24.194.477.194.705 0 .21-.08.4-.241.567a.8.8 0 0 1-.603.252c-.22 0-.386-.05-.5-.151-.114-.101-.237-.266-.37-.495a2.27 2.27 0 0 0-.618-.768c-.241-.184-.627-.276-1.16-.276-.494 0-.893.1-1.196.3-.303.199-.455.44-.455.72 0 .173.053.324.155.45.103.128.245.235.426.326.18.091.363.162.547.214.185.052.49.126.916.225a15.47 15.47 0 0 1 1.446.38c.432.138.8.307 1.103.503.302.198.54.45.709.752.17.302.255.673.255 1.111 0 .525-.148.998-.442 1.417z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #00aff0;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
