header {
    
}

header .wrap .logo {
    width: 41.6666%;
}

header .wrap .icons {
    width: calc(58.3333% - 0.75rem);
}

header .wrap .search {
    width: 58.3333%;
}

.content main section .box {
    width: 50%;
}

.review{
    display: none;
}
.content main section .box.medium {
    display: block;
}
.content main section .card .photo {
   /*! width: 41.6666%; */ 
   
   
}

.content main section .card .desc {
    /*! width: 58.3333%; */
    
}
footer .wrap .box {
    width: 50%;
}