header {
 /*! background: red; */   
}

header .wrap .logo {
    width: 41.6666%;
}

header .wrap .icons {
    width: calc(58.3333% - 0.75rem);
}

header .wrap .search {
    width: 58.3333%;
}

.review{
    display: none;
}

.content main section .box {
    width: 50%;
}
.content main section .box.medium {
    display: block;
}
.content main section .card .photo {
   /*! width: 41.6666%; */ 
   
   
}

.content main section .card .desc {
    /*! width: 58.3333%; */
    
}
.pagination{
max-width: 100%;
justify-content: space-between;
}
.shopping_cart .wrap .item .cart_row{justify-content: space-between;}
.shopping_cart .wrap .item .cart_row .cart_pic {

    width: 8rem;
}
.shopping_cart .wrap .item .cart_row .cart_name {

    /*! width: max-content; */
    max-width: 10rem;
    margin-right: 0.75rem;
}
.shopping_cart .wrap .item .cart_row .cart_price {
    
   
    width: auto;
    min-width: 6rem;
}
.shopping_cart .wrap .item .cart_row .cart_count {

    width: auto;
    margin-left: auto;
}
.shopping_cart .wrap .item .cart_row .cart_total {

    width: auto;
    margin-left: auto;
    min-width: 6rem;
}
.shopping_cart .wrap .item .cart_row .cart_del {

    top: -1.5rem;}
.shopping_cart .wrap .item .title{
/*! background: orange; */
}
.shopping_cart .wrap .item .shopping_total {
    
    /*! justify-content: center; */
    
    margin-left: auto;
    max-width: 10rem;
    margin-right: auto;
}footer .wrap .box {
    width: 50%;
}
