header .wrap .logo {
    width: 25%;
}

header .wrap .logo img {
    max-width: 12rem;
}

header .wrap .search {
    width: 41.6666%;
}

header .wrap .phone {
    width: 16.6666%;
    text-align: center;
}

header .wrap .icons {
    width: 16.6666%;
}

.content .wrap aside {
    width: 25%;
}

.content .wrap main {
    width: 75%;
}

.content main section .box {
    width: 33.3333%;
}

.content main section .show .slider {
    width: calc(100%/9*5);
    width: 58.3333%;
}

.content main section .show .right {
    display: flex;
    flex-flow: column nowrap;
    width: 41.6666%;
}

.content main section .show .right .show_item {
    flex: 0 1 50%;
}

.content main section .show .right .show_item .box {
    width: 100%;
    height: 100%;
    display: flex;
}

.content main section .show .right .show_item .box .item {
    display: flex;
}

.content main section .show .right .show_item .box .item .pic {
    width: 50%;
}

.content main section .show .right .show_item .box .item .info {
    width: 50%;
}

.content main section .show .right .show_item .box .item .info .price {
    width: 100%;
}

.price {
    width: auto
}

.review {
    display: block;
}

.menu_adaptive {
    display: block;
    position: initial;
    box-shadow: none;
    max-width: 100%;
    margin: 0;
}

.content .wrap aside .title_nav .box .icon.burger {
    display: none;
}

.content .wrap aside .box .item #catalog {
    padding: 1.5rem;
}

.content .wrap aside .box .item #catalog ul li ul li a {
    font-size: 0.875rem;
    font-weight: 300;
}

.bread {
    margin: 0.75rem 0;
    line-height: calc(0.75rem + 2px);
}

.content main section .card .photo {
    width: calc(100/9*5%);
}

.content main section .card .desc {
    width: calc(100/9*4%);
}

.content main section .card .info_tab nav {
    display: flex;
}

.pagination {
    /*! max-width: 66.6666%; */
    /*! justify-content: space-between; */
}

.shopping_cart .wrap .item .cart_row .cart_pic {
    width: 8rem;
    margin: 0;
}

.shopping_cart .wrap .item .cart_row .cart_name {
    max-width: 10rem;
    margin-right: 0.75rem;
}

.shopping_cart .wrap .item .cart_row {
    justify-content: space-between;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_price {
    width: auto;
    min-width: 6rem;
}

.shopping_cart .wrap .item .cart_row .cart_count {
    width: auto;
    margin-left: auto;
}

.shopping_cart .wrap .item .cart_row .cart_total {
    width: auto;
    margin-left: auto;
    min-width: 7rem;
    margin: 0 0 0 auto;
}

.shopping_cart .wrap .item .title {
    margin-bottom: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_count .count::before {
    padding-left: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_total .price::before {
    padding-left: 0.75rem;
}

.shopping_cart .wrap .item .cart_row .cart_del {
    top: -0.75rem;
}

.shopping_cart .wrap .item .shopping_total {
    margin-left: auto;
    max-width: 10rem;
    margin-right: auto;
}

footer .wrap .box {
    width: 25%;
}

.content main section .order .service {
    width: 33.3333%;
}

.content main section .order input {
    max-width: 50%
}

.content main section .order textarea {
    height: 10rem;
}

.content main section .lk {
    width: 100%
}

.content main section .lk .box {
    width: 100%
}

.content main section .lk .box .item {
    padding: 1.5rem;
}

.content main section .lk .box .item .title {
    margin: 0 0 1.5rem 0;
    padding: 0;
    border-left: none;
    text-decoration: none;
    color: var(--orange);
    font-weight: 700;
    text-transform: uppercase;
}

.content main section .lk .box .item .row .cell {
    width: calc(100/6 * 1%);
    line-height: 2rem;
    display: block;
    text-align: center;
}

.content main section .lk .box .item .row .price {
    text-align: right;
}

.content main section .lk .box .item .row .cell .price:after {
    line-height: inherit;
    font-size: 0.75rem;
}

.content main section .lk .box .item .row .header {
    font-weight: 500;
    display: block;
    text-align: center;
}

.content main section .lk .box .item .row .finish {
    color: var(--green);
}

.content main section .lk .box .item .row .cancel {
    color: red
}

.content main section .lk .box .item .row .num:before {
    display: none;
}

.content main section .lk .box .item .row .date:before {
    display: none;
}

.content main section .lk .box .item .row .total:before {
    display: none;
}

.content main section .lk .box .item .row .price:before {
    display: none;
}

.content main section .lk .box .item .row .looks:before {
    display: none;
}

.content main section .lk .box .item .row .status:before {
    display: none;
}

.content main section .lk .box .item .row .bonus_old:before {
    display: none;
}

.content main section .lk .box .item .row .bonus_add:before {
    display: none;
}

.content main section .lk .box .item .row .bonus_pay:before {
    display: none;
}

.content main section .lk .box .item .row .bonus_total:before {
    display: none;
}

.content main section .lk .box .item .row .cell .icon {
    margin-left: 0;
    height: 2rem;
}

.content main .filters .filter-spec .item .group {
    min-width: 25%;
}
