header {
	background: #b4b374;
}

header .logo {
	width: 25%;
}

header .search {
	width: 41.6666%;
}

header .phone {
	width: 16.6666%;
	text-align: center;
}

header .icons {
	width: 16.6666%;
}

.content .wrap aside {
	width: 25%;
}

.content .wrap main {
	width: 75%;
}

.content main section .box {
	width: 33%
}

.content main section .show .slider {
	width: calc(100%/9*5);
}

.content main section .show .right {
	background: #9CF;
	display: flex;
	/*! flex-flow: column nowrap; */
	width: calc(100%/9*4);
	/*! flex-flow: column nowrap; */
	flex-direction: column;
}

.content main section .show .right .show_item {
	background: #CC9;
	flex: 0 1 50%;
}

.content main section .show .right .show_item .box {
	width: 100%;
}

.content main section .show .right .show_item .box .item {
	display: flex;
}

.content main section .show .right .show_item .box .item .pic {
	width: 50%;
}

.content .wrap main section .show .right .show_item .box .item .info {
	width: 50%;
}
