<ifModule mod_expires.c> 
 ExpiresActive On
 #кэшировать флэш и изображения на одну неделю
 ExpiresByType image/x-icon "access plus 365 days"
 ExpiresByType image/jpeg "access plus 365 days"
 ExpiresByType image/png "access plus 365 days"
 ExpiresByType image/gif "access plus 365 days"
 ExpiresByType application/x-shockwave-flash "access plus 365 days"
 #кэшировать css, javascript и текстовые файлы на одну неделю
 ExpiresByType text/css "access plus 365 days"
 ExpiresByType text/javascript "access plus 365 days"
 ExpiresByType application/javascript "access plus 365 days"
 ExpiresByType application/x-javascript "access plus 365 days"
 #кэшировать html и htm файлы на один день
 ExpiresByType text/html "access plus 365 day"
 #кэшировать xml файлы на десять минут
 ExpiresByType application/xhtml+xml "access plus 10 minutes"
</ifModule>

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

<ifModule mod_headers.c>
    #кэшировать html и htm файлы на один день
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    #кэшировать css, javascript и текстовые файлы на одну неделю
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    #кэшировать флэш и изображения на месяц
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
    #отключить кэширование
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>

AddDefaultCharset utf-8

#php_value opcache.enable=Off
#php_value display_errors = Yes

ErrorDocument 404 /404/
#Options +FollowSymlinks

RewriteEngine On
RewriteBase /

#RewriteCond %{HTTPS} !=on
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R,L]


#RewriteCond %{HTTP_HOST} !^www\.shoptarget\.ru$
#RewriteCond %{HTTP_HOST} ^(.*)\.shoptarget\.ru$
#RewriteRule ^(.*)$ https://shoptarget.ru/?site=%1 [P]
#RewriteCond %{HTTPS} =off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA]
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{ENV:PATH_LOCAL} notfound
#RewriteRule \/news\/([^/]+)$  /news/?path=$1 [R=redirect]
#RewriteRule ([^/]+)\.html$ /catalog/?path=$1 [QSA]

RewriteRule ^([0-9a-zA-Z/_-]+)$ index.php?url=$1 [QSA]
RewriteRule (.*)\/([^/]+)\.html$ $1/?path=$2 [QSA]
RewriteRule (.*)\/page([^/]+) $1/?pn=$2 [QSA]
RewriteRule ([^/]+)\.site$ /site/?id=$1 [QSA]

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

php_value display_errors On
#RewriteRule .* - [R=404,L]
#ErrorDocument 404 /index.php
Options All -Indexes
#php_value opcache.enable=Off
#php_value upload_tmp_dir /var/tmp
php_value max_file_uploads 100M
php_value post_max_size 100M
php_value upload_max_filesize 100M
